/*-----------------| Form Login |-----------------*/
.LOGIN {
	color: #000;
}

.bg {
	background: url('../image/SWITCH.jpg') no-repeat;
	width: 100%;
	height: 100vh;
}

.form-container {
	border: 0px solid #fff;
	padding: 50px 60px;
	margin-top: 20vh;
	/*script  sibawah ini memunculkan shadow, cek "https://cssmatic.com/box-shadow" 
	untuk setting shadow */
	-webkit-box-shadow: 1px 4px 20px 10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 4px 20px 10px rgba(0, 0, 0, 0.75);
	box-shadow: 1px 4px 20px 10px rgba(0, 0, 0, 0.75);
}



/*|---------------------------| Index |---------------------------*/

/* Utility */
.button {
	text-transform: uppercase;
	border-radius: 40px;
	background-color: #F2C94C;
	border-color: #F2C94C;
	color: #262228;
}

.button1 {
	text-transform: uppercase;
	background-color: #007849;
	border-color: #007849;
	color: #fff;
}

/*--------------- |Nav| ---------------*/
.navbar {
	color: white;
}

.navbar-brand img {
	width: 150px;
}

.shrink .navbar {
	background-color: rgba(30, 30, 30, 0.85);
}

/*--------------- |Jumbotron| ---------------*/
.ij {
	background-image: url('../image/banner.png');
	background-size: cover;
	height: 600px;
	text-align: center;
	background-attachment: fixed;
	color: #eaeaea;
}

.ij .display-4 {
	color: white;
	font-size: 30px;
	font-weight: 300;
	margin-top: 200px;
	margin-bottom: 25px;
}

.sosmed {
	width: 35px;
	height: 35px;
	margin-right: 15px;
	margin-top: 30px;
	margin-bottom: 50px;

	height: auto;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.sosmed:hover {
	transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}


/*--------------- |Panel Produk| ---------------*/
.panel-produk {
	animation-delay: 2s;
	text-align: center;
	height: 850px;
	margin-top: 100px;
	font-family: Quattrocento Sans;
}

.panel-produk h2 {
	margin-bottom: 30px;
	font-size: 25px;
	color: #262228;
}

.panel-produk img {
	width: 30px;
	height: 30px;
	/* transition: box-shadow 0.5s; */
	/* box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2); */
	/* border: 1px solid transparent; */
	margin-bottom: 15px;
}
div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}
  
div.gallery:hover {
	border: 1px solid #777;
}
  
div.gallery img {
	margin-top: 10px;
	width: 160px;
	height: auto;
}
  
div.desc {
	padding: 10px;
	text-align: center;
}

div.harga {
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}


/* .panel-produk h4 {
	font-size: 20px;
	margin-bottom: 15px;
	color: #007849;
}

.panel-produk p {
	font-size: 15px;
	color: #262228;
	font-weight: 1000;
} */


/*--------------- |Carousel| ---------------*/
.bd-example {
	animation-delay: 1s;
}

.bd-example h5 {
	font-style: italic;
	color: #000;
}



/*--------------- |Panel Pelayanan| ---------------*/
.panel-pelayanan {
	text-align: center;
	height: 1000px;
	margin-top: 100px;
	font-family: Quattrocento Sans;
}

.panel-pelayanan h2 {
	margin-bottom: 30px;
	font-size: 25px;
	color: #262228;
}

.col-md-4 {
	position: relative;
	display: inline-block;
}

.image {
	display: block;
	width: 250px;
	height: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.overlay {
	position: absolute;
	transition: all .3s ease;
	opacity: 0;
	background-color: #eee;
}

.col-md-4:hover .overlay {
	opacity: 0.7;
}

.text {
	color: white;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 20px;
}

.overlayFade {
	width: 250px;
	height: 150px;
	top: 0;
	left: 0;
	background-color: rgba(30, 30, 30, 0.85);
}


/*--------------- |Contact| ---------------*/
.panel-contact {
	height: 900px;
	margin-top: 250px;
	font-family: Quattrocento Sans;
	font-weight: 300;
	background-image: url('../image/SWITCH.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.panel-contact .k2 {
	margin-top: 60px;
}

.panel-contact h4 {
	margin-top: 60px;
	font-size: 25px;
	color: #F2C94C;
}

.panel-contact p {
	margin-bottom: 50px;
	font-size: 20px;
	color: #fff;
}

.panel-contact img {
	width: 25px;
	height: 25px;
	margin-right: 20px;
	margin-bottom: 15px;
}

.panel-contact span {
	font-size: 15px;
	color: #fff;
}

.panel-contact form-control {
	border-radius: 0px;
	border-color: #007849;
	border-width: 2px;
}

.panel-contact .k1 {
	margin-bottom: 10px;
}


/*--------------- |review| ---------------*/
.panel-review {
	text-align: center;
	height: 950px;
	margin-top: 100px;
	font-family: Quattrocento Sans;
}

.panel-review h2 {
	margin-bottom: 50px;
	font-size: 25px;
	color: #262228;
}

.panel-review img {
	width: 115px;
	height: 115px;
	transition: box-shadow 0.5s;
	box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
	border: 1px solid transparent;
	margin-bottom: 25px;
}

.panel-review h4 {
	font-size: 20px;
	margin-bottom: 25px;
	color: #007849;
}

.panel-review p {
	font-size: 15px;
	color: #262228;
	font-weight: 1000;
}


/*--------------- |Footer| ---------------*/
.panel-footer {
	font-family: Quattrocento Sans;
	height: 700px;
	margin-top: 100px;
	background-color: #262228;
}

.panel-footer h2 {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 20px;
	color: #F2C94C;
}

.sf {
	width: 25px;
	height: 25px;
	margin-bottom: 25px;
	margin-right: 20px;
}

.panel-footer p {
	color: #fff;
	font-size: 15px;
	font-weight: 1000;
}

.panel-footer a {
	color: #fff;
	font-size: 15px;
	font-weight: 1000;
	margin-top: -50px;
}

.footer-brand img {
	width: 150px;
}



/* Desktop Ver */
@media (min-width: 992px) {

	/*--------------- |Nav| ---------------*/
	.nav-link {
		font-family: Quattrocento Sans;
		text-transform: uppercase;
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
		margin-right: 30px;
	}

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid #F2C94C;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	.nav-link .btn {
		font-weight: 300;
		font-size: 20px;
		text-decoration-style: bold;
	}

	/*--------------- |jumbotron| ---------------*/
	.ij {
		height: 730px;
		margin-top: -101px;
	}

	.ij .display-4 {
		font-size: 55px;
		font-weight: 400;
		margin-top: 200px;
		margin-bottom: 25px;
	}

	.sosmed {
		width: 50px;
		height: 50px;
		margin-right: 15px;
		margin-top: 30px;
		margin-bottom: 50px;
	}


	/*--------------- |Panel Produk| ---------------*/
	.panel-produk {
		margin-top: 100px;
		height: 550px;

	}

	.panel-produk h2 {
		margin-bottom: 50px;
		font-size: 35px;
	}

	.panel-produk img {
		width: 75px;
		height: 75px;
		margin-bottom: 25px;
	}

	.panel-produk h4 {
		font-size: 30px;
		margin-bottom: 25px;
	}

	.panel-produk p {
		font-size: 20px;
		font-weight: 1000;
	}
	div.gallery {
		margin: 5px;
		border: 1px solid #ccc;
		float: left;
		width: 180px;
	}
	  
	div.gallery:hover {
		border: 1px solid #777;
	}
	  
	div.gallery img {
		margin-top: 10px;
		width: 160px;
		height: auto;
	}
	  
	div.desc {
		padding: 10px;
		text-align: center;
	}
	
	div.harga {
		padding: 5px;
		text-align: center;
		margin-bottom: 10px;
		font-weight: bold;
	}


	/*--------------- |Carousel| ---------------*/



	/*--------------- |Panel Pelayanan| ---------------*/
	.panel-pelayanan {
		height: 550px;
		margin-top: 150px;
	}

	.panel-pelayanan h2 {
		margin-bottom: 50px;
		font-size: 35px;
	}

	.image {
		width: 350px;
		height: 200px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.text {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 20px;
	}

	.overlayFade {
		width: 350px;
		height: 200px;
		top: 0;
		left: 0;
	}


	/*--------------- |Contact| ---------------*/
	.panel-contact {
		height: 500px;
		margin-top: 150px;
		font-weight: 300;
	}

	.panel-contact h4 {
		font-size: 25px;
		margin-bottom: 20px;
	}

	.panel-contact p {
		margin-bottom: 50px;
		font-size: 20px;
	}

	.panel-contact i {
		font-size: 20px;
		margin-right: 20px;
		margin-bottom: 15px;
	}

	.panel-contact span {
		font-size: 15px;
	}

	.panel-contact input {
		border-radius: 0px;
		border-width: 2px;
	}

	.panel-contact textarea {
		border-radius: 0px;
		border-width: 2px;
	}


	/*--------------- |review| ---------------*/
	.panel-review {
		height: 450px;
		margin-top: 100px;
	}

	.panel-review h2 {
		margin-bottom: 50px;
		font-size: 35px;
	}

	.panel-review img {
		width: 125px;
		height: 125px;
		margin-bottom: 25px;
	}

	.panel-review h4 {
		font-size: 30px;
		margin-bottom: 25px;
	}

	.panel-review p {
		font-size: 20px;
		font-weight: 1000;
	}


	/*--------------- |Footer| ---------------*/
	.panel-footer {
		height: 320px;
		margin-top: 100px;
	}

	.panel-footer h2 {
		margin-top: 30px;
		margin-bottom: 25px;
		font-size: 20px;
	}

	.sf {
		width: 25px;
		height: 25px;
		margin-bottom: 25px;
		margin-right: 20px;
	}

	.panel-footer p {
		font-size: 15px;
		font-weight: 1000;
	}

	.panel-footer a {
		font-size: 15px;
		font-weight: 1000;
	}

	.footer-brand img {
		margin-top: 10px;
		width: 200px;
		/* height: 30; */
		text-align: center;
	}

}